/*
Font tags and their weights. Use Mon for headders
font-family: 'Open Sans', sans-serif;  -  300,400
font-family: 'Montserrat', sans-serif;  -  400
*/

* {margin: 0; padding: 0;}

html {background-color: #f7f7f7;}

h1, h2, h3, h4, h5, p, a, hr {color: #3d3d3d;}

h1, h2, h3, h4, h5 {font-family: 'Montserrat', sans-serif; margin-bottom: 15px;}

p, a {font-family: 'Open Sans', sans-serif;}


/*nav ul styling == display:flex; padding-left:20px;*/

/*nav ul li a styling == font size:1.1rem; display:inline-block; padding:0.6rem 1rem;*/

body {
    width:100%;
    height:auto;
}

section.container {
    max-width: 1000px;
    margin:30px 0 0 50px;
    display:flex;



@media screen and (max-width: 786px){

}